# Ignore node_modules, as they will be installed inside the container
node_modules

# Ignore build output directories
dist
build

# Ignore log files
*.log

# Ignore git and IDE directories
.git
.idea
